:root {
  --blue: #00b0ff;
  --black-1: #1e1e1e;
  --black-2: #1b1b1b;
  --red: #f44336;
  --gray: #b6b6b6;
  --white: #ffffff;
}

body {
  margin: 0;
  background-color: var(--black-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  font-family: 'JetBrains Mono', monospace;
  color: var(--gray);
  outline: none;
  transition: 0.25s ease;
}

h1 {
  color: var(--white);
}

form {
  float: left;
  width: 49vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  display: block;
  margin: 25px auto;
  width: 50%;
  font-size: 2rem;
}

form#verify {
  display: none;
}

form > input {
  padding: 15px;
  padding-bottom: 5px;
  border: none;
  background-color: var(--black-1);
  border-bottom: 2px solid transparent;
  color: var(--white);
  border-radius: 0;
}

form > input:hover {
  background: #1b1b1b;
}

form > input:focus {
  background: linear-gradient(
    var(--black-1) 0%,
    var(--black-2) 50%,
    var(--black-2) 100%
  );
  border-bottom: 2px solid var(--blue);
}

form > input:active {
  background: linear-gradient(var(--black-1) 0%, var(--black-2) 100%);
  border-bottom: 2px solid var(--blue);
}

form > button {
  color: var(--white);
  padding: 10px;
  border: none;
  background-color: var(--blue);
  border-radius: 5px;
}

form > button:hover {
  background-color: var(--blue);
  opacity: 0.8;
}

form > button:active {
  background-color: var(--blue);
  opacity: 0.6;
}

#error {
  width: 70vw;
  height: 50px;
  color: red;

}
